-
	let pathImg = './images/users/'
	let popularsUsers = [
		{
			avatar: `${pathImg}item-1.webp`,
			name: 'Samantha Bowen'
		},
		{
			avatar: `${pathImg}item-2.webp`,
			name: 'Rhys Birch'
		},
		{
			avatar: `${pathImg}item-3.webp`,
			name: 'James Holloway'
		},
		{
			avatar: `${pathImg}item-4.webp`,
			name: 'Joshua Walton'
		},
		{
			avatar: `${pathImg}item-5.webp`,
			name: 'Patrick Elliott'
		},
		{
			avatar: `${pathImg}item-6.webp`,
			name: "Morgan O'Neill"
		},
	]

section.populars.section
	.container.populars__container
		h3.title.populars__title
			span.title__text Popular Actors & Directors
		.populars-items.df.al-c.ju-c.wrap
				each user in popularsUsers
					.populars-item
						.populars-item__box
							img.populars-item__img(src=`${user.avatar}` alt="#")
						p.populars-item__name.tac= user.name
		.banners.df.al-c
			img.banners__img.db.lazy(data-src="./images/banners.webp" alt="")
			.banners-info.df.dir-col.al-c.ju-c
				img.banners-info__year.lazy(data-src="./images/banners-yaer.webp" alt="")
				p.banners-info__text Coming Soon...
		.reg.dg
			.reg-box.gr-a
				img.reg__img.lazy.db(data-src="./images/reg-bg.webp" alt="")
			.reg-info.gr-a.df.al-c.ju-a
				p.reg-info__descr
					span.reg-info__text.db Are You New Here ?
					span.reg-info__text.db Don’t wait, Register Now.
				a.hero-descr__link-watch.df.al-c(href="#")
					span.hero-descr__link-text Register Now


